{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["flowtype"],

  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0,
    "global-require": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-console": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
